*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

input{
    display: block;
}

body{
    background-color: rgba(150, 75, 0, 40%)
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, textarea, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: #aa5e08;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

.message-sucess{
    background-color: #27ae60;
    padding: 16px;
    color: #fff;
    display: none;
}

.message-error{
    padding: 8px;
    font-size: 12px;
    background-color: red;
    color: #fff;
    margin-bottom: 8px;
    display: none;
}